.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(240px, 1fr));
  gap: 12px;
}

@media (max-width: 1180px) {
  .grid {
    grid-template-columns: repeat(3, minmax(220px, 1fr));
  }
}

@media (max-width: 900px) {
  .grid {
    grid-template-columns: repeat(2, minmax(220px, 1fr));
  }
}

@media (max-width: 620px) {
  .grid {
    grid-template-columns: repeat(1, minmax(220px, 1fr));
  }
}

@media (max-width: 540px) {
  .grid {
    gap: 10px;
  }
}
